body, div {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  /* prevent text selection */
  -moz-user-select: -moz-none;
 	-khtml-user-select: none;
 	-webkit-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
}

.view.profile.background {
  background-color: #FAFAFA;
}
.view.profile.image {
  border-radius: 50%;
}
.view.profile.name > div {
  text-align: center;
  font-size: 20px;
  color: #444444;
  /* align vertical */
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.view.profile.text {
  padding: 0 25px;
  font-size: 16px;
  color: #888888;
}
